.previewImage {
    width: 9vw;
    height: 6vw;
    object-fit: cover;
    transition: 0.5s;
    align-self: center;
    outline: 1px solid rgba(200, 200, 200, 0);
    margin: 0.2vw;
    filter: opacity(0.4);
  }
  
  .previewImage:hover {
    outline: 1px solid rgb(200, 200, 200);
  }
  
  .gallery {
    width: 70vw;
    justify-content: center;
    display: flex;
    align-self: center;
    margin-top: 1vw;
    transition: 0.5s;
    filter: opacity(0.05);
  }

  .gallery:hover{
    filter: opacity(1);
  }

  .currentImage{
    outline: 2px solid rgb(143, 244, 255);
    filter: opacity(1)
  }